In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
total_players = len(purchase_data["SN"].value_counts())

total_players_df = pd.DataFrame([total_players], columns = ["TOTAL PLAYERS"])

total_players_df

   TOTAL PLAYERS
0            576

In [6]:
uniqueitems = purchase_data_df["Item Name"].nunique()
uniqueitems

179

In [7]:
avgprice = round(purchase_data_df["Price"].mean(),2)
display(avgprice)

3.05

In [8]:
purchasecount = purchase_data_df["Price"].count()
purchasecount

780

In [9]:
purchasetotal = purchase_data_df["Price"].sum()
purchasetotal

2379.77

In [10]:
print("Number of Unique Items: " + str(uniqueitems))
print("Average Price: $" + str(avgprice))
print("Number of purchases: " + str(purchasecount))
print("Total Revenue: $" + str(purchasetotal))

Number of Unique Items: 179
Average Price: $3.05
Number of purchases: 780
Total Revenue: $2379.77

In [11]:
gender_count_df = purchase_data_df["Gender"].value_counts()
gender_count_df.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
gender_percentage_df = round(purchase_data_df["Gender"].value_counts()/780,2)
gender_percentage_df

Male                     0.84
Female                   0.14
Other / Non-Disclosed    0.02
Name: Gender, dtype: float64

In [13]:
price_df = purchase_data_df[["Price", "Gender"]]

In [14]:
gender = price_df.groupby(["Gender"])
gender_count = gender.count()
gender_count

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [15]:
gender_avg_price = round(gender.mean(),2)
gender_avg_price

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [16]:
gender_total_price = gender.sum()
gender_total_price

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [17]:
gender_total_avg = gender_avg_price.sum()
gender_total_avg

Price    9.57
dtype: float64

In [18]:
print("Purchase Count:"+ str(gender_count))
print()
print("Average Purchase Price: $" + str(gender_avg_price))
print()
print("Total Purchase Value: " + str(gender_total_price))
print()
print("Average Purchase Total: $" + str(gender_total_avg))

Purchase Count:                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

Average Purchase Price: $                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

Total Purchase Value:                          Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

Average Purchase Total: $Price    9.57
dtype: float64

In [19]:
age_players = purchase_data.loc[:,["Age","SN"]]
age_players = age_players.drop_duplicates()
age_existing_players = age_players["Age"].value_counts()

In [20]:
bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 100]

labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
age_data = pd.cut(age_players["Age"], bins_age, labels=labels).value_counts()

In [22]:
age_percent = age_data / total_players * 100

In [23]:
age_demographics = pd.DataFrame({"TOTAL COUNT": age_data,
                              "PERCENTAGE OF PLAYERS": age_percent})
age_demographics["PERCENTAGE OF PLAYERS"] = age_demographics["PERCENTAGE OF PLAYERS"].map("{:.2f}".format)

In [24]:
age_demographics.sort_index()

       TOTAL COUNT PERCENTAGE OF PLAYERS
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

In [25]:
sn_players = purchase_data.loc[:,["SN"]]
sn_players = sn_players.drop_duplicates()
sn_existing_players = sn_players["SN"].value_counts()

In [26]:
sn_analysis_total = purchase_data.groupby(["SN"]).count()["Price"].rename("PURCHASE COUNT")


sn_average_price = purchase_data.groupby(["SN"]).mean()["Price"].rename("AVERAGE PURCHASE PRICE")


sn_total_purchase = purchase_data.groupby(["SN"]).sum()["Price"].rename("TOTAL PURCHASE VALUE")



sn_purchasing_analysis = pd.DataFrame({"PURCHASE COUNT": sn_analysis_total,
                              "AVERAGE PURCHASE PRICE": sn_average_price,
                              "TOTAL PURCHASE VALUE": sn_total_purchase})

sn_purchasing_analysis = sn_purchasing_analysis.sort_values("TOTAL PURCHASE VALUE", ascending=False)






sn_purchasing_analysis.head()

             PURCHASE COUNT  AVERAGE PURCHASE PRICE  TOTAL PURCHASE VALUE
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [31]:

popular_grouped = purchase_data.groupby(["Item ID","Item Name"])


purchase_count = popular_grouped["Age"].count()
avg_purchase = popular_grouped["Price"].mean()
total_purchase_value = popular_grouped["Price"].sum()

# create a DataFrame to hold the results 
most_popular_items = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                                   "Total Purchase value":total_purchase_value})


most_popular_items = most_popular_items.sort_values("Total Purchase value", ascending = False)
most_popular_items["Total Purchase value"]  = most_popular_items["Total Purchase value"].map("${:,.2f}".format)
most_popular_items["Average Purchase Price"] = most_popular_items["Average Purchase Price"].map("${:.2f}".format)

 
most_popular_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [33]:
popular_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]

popular_grouped = purchase_data.groupby(["Item ID","Item Name"])


purchase_count = popular_grouped["Age"].count()
avg_purchase = popular_grouped["Price"].mean()
total_purchase_value = popular_grouped["Price"].sum()

most_popular_items = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                                   "Total Purchase value":total_purchase_value})
most_popular_items = most_popular_items.sort_values("Purchase count", ascending = False)



most_popular_items.head()

,,Purchase count,Average Purchase Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77